@page "/admin/tasks"
@using BlazorServeCrud.Models;
@using Services
@using BlazorServeCrud.Enum
@inject ITaskService taskService
@inject IJSRuntime jsRuntime
<h3>Tasks</h3>
<a href="/task/add" class="btn btn-outline-dark my-2">Add Task</a>
@if (tasks is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true" Data="@tasks" TItem="DTask" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="DTask" Property="Tasks" Title="Task" Frozen="true" Width="160px" />
            <RadzenDataGridColumn TItem="DTask" Property="Description" Title="Description" Width="260px" />
            <RadzenDataGridColumn TItem="DTask" Title="Status" Width="120px">
                <Template Context="context">
                    @if (context.TaskStatus == DTaskStatus.Active)
                    {
                        <span>Active</span>
                    }
                    else if (context.TaskStatus == DTaskStatus.InProgress)
                    {
                        <span>InProgress</span>
                    }
                    else if (context.TaskStatus == DTaskStatus.Pending)
                    {
                        <span>Pending</span>
                    }
                    else if (context.TaskStatus == DTaskStatus.Completed)
                    {
                        <span>Completed</span>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DTask" Title="Assigned To">
                <Template Context="context">
                    <span>@context.User.Email</span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DTask" Title="Action" Width="120px">
                <Template Context="context">
                    <a href="task/edit/@context.Id">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                    </a>
                    <a @onclick="() => Delete(context)">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </a>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
@code {
    private List<DTask> tasks = new();
    private async Task Delete(DTask task)
    {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Are you sure????");
        if (confirmed)
        {
            if (await taskService.DeleteTaskAsync(task.Id))
            {
                tasks = await taskService.GetAllTaskAsync();
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        tasks = await taskService.GetAllTaskAsync();
        //base.OnInitializedAsync();
    }
}
